.title-background-red {
    display: none;
}

@media (min-width: 48rem) {
    .title-background-red {
        display: block;
    }
}

.change-day {
    display: none;
}

.detail{
    margin-top: 3rem;
    margin-bottom: 15rem;
}

.event-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.detail-img {
    grid-row-start: 2;
    grid-row-end: 3;
}

@media (min-width: 64rem) {
    .event-detail {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    .detail-img {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
    }
}

.detail-info{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.column_detail p{
    margin-bottom: 1rem;
    color: white;
}

.detail_col2 a{
    margin-bottom: 1rem;
    color: white;
}

.detail_col2 p{
    text-decoration: underline;
    cursor: pointer;
}

.socials svg{
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: 0.2s all;
}

.socials svg:hover{
    background-color: hsl(0, 79%, 57%);
    cursor: pointer;
}

.detail-img img {
    width: 100%;
}

.event-detail h1 {
    font-size: 2.18rem;
}

@media (min-width: 64rem) {
    .event-detail h1 {
        font-size: 3.12rem;
    }
    
    .event-description, .detail-info {
        font-size: 1.12rem;
    }
}

.location-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .93rem;
    margin-top: .62rem;
}

.location-time p:first-child {
    background-color: hsl(0, 79%, 57%);
    color: hsl(0, 0%, 0%);
    padding: .31rem;
    width: 0.1rem;
}

.event-description {
    margin: 2.5rem 0rem;
}

@media (min-width: 48rem) {

    .detail{
        margin-top: 30rem;
    }
}

.bread_crumb{
    position: relative;
    left: -2.8rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    text-decoration:none;
    text-transform: uppercase;
    color: white;
}

.bread_crumb svg{
    margin-right: 2rem;
}

.bread_crumb p{
    font-size: 8rem;
    font-weight: 700;
}