@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl/Stolzl-Regular.woff2") format("woff2"),
    url("../fonts/Stolzl/Stolzl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl/Stolzl-Medium.woff2") format("woff2"),
    url("../fonts/Stolzl/Stolzl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl/Stolzl-Bold.woff2") format("woff2"),
    url("../fonts/Stolzl/Stolzl-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Stolzl Display";
  src: url("../fonts/Stolzl-display/Stolzl Display Bold.woff2") format("woff2"),
    url("../fonts/Stolzl-display/Stolzl Display Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family: "Stolzl";
}

/*Mobile*/

@media only screen and (min-width: 100px) {
body{
    background-image: url(../img/hero-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    font-family: "Stolzl";
    color: white;
}

header, main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav-bar-desktop{
    display: none;
}
.container-content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}
        .burger-button {
            display: flex;
            cursor: pointer;
            flex-direction: column;
            position: absolute;
            right: 1rem;
            align-items: center;
        }
    
        .line-1 {
            background-color: white;
            width: 4rem;
            height: 0.3rem;
            margin-bottom: 0.6rem;
        }
    
        .line-2 {
            background-color: white;
            width: 2rem;
            height: 0.3rem;
            margin-bottom: 0.6rem;
        }
        .burger-menu{
            position: relative;
            display: none;
            background-color: red;
            margin: 0 auto;
        }
        .burger-menu.open{
            position: absolute;
            top: 0rem;
            left: 0rem;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            background-color: hsl(0, 79%, 57%);
            overflow-y: auto;
            z-index: 1;
        }
        .line-c1 {
            background-color: white;
            width: 4rem;
            height: 0.2rem;
            transform: rotate(-25deg);
        }
    
        .line-c2 {
            background-color: white;
            width: 4rem;
            height: 0.2rem;
            transform: rotate(25deg);
        }
        .burger-button-close{
            display: flex;
            cursor: pointer;
            flex-direction: column;
            align-items: center;
        }
        .logo-button{
            display: flex;
            justify-content: space-between;
        }
        .logo-button img{
        width: 10rem;
        margin-bottom: 8rem ;
    }
        .logo-white {
            width: 10rem
        }
        .logo-button{
            margin-top: 2.2rem;
        }
    
        .nav-bar {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 2.2rem;
    }
        .button-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

}

@media only screen and (min-width: 100px) {
    .burger-list ul {
        list-style: none;
        padding: 0rem;
    }
    .burger-list a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1rem;
    }
    .burger-list ul li{
        margin-bottom: 2rem;
    }
    .arrow-near-prgm{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .programma-list{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1rem;
        margin-left: 2rem;
    }
    .programma-list ul li {
        margin-bottom: 2.5rem;
    }
    .search-icon{
        width: 1.2rem;
    }
}

@media only screen and (min-width: 100px){
    .title-page{
    position: relative;
    top: 3.5rem;
    margin-right: 1.2rem;
    padding: 0.4rem;
    float: right;
    background-color: #000;
    text-align: right;
    color: white;
    line-height: 3.375rem;
}

.title-page h1{
    font-weight: 700;
    font-size: 2.6rem;
}

.title-bg{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -10rem;
    width: 12.8rem;
    height: 30%;
    background-color:#e83c3c;
    z-index: -1;
}
.link-balk{
    display: flex;
    position: absolute;
    bottom: -15rem;
    right: 1.7rem;
    text-decoration: none;
    color:white;
    float: right;

    margin-bottom: 0rem;
}

.arrow-link{
    position: relative;
    left: 3rem;
    width: 10rem;
    margin-right: 2rem;
}

.link-balk-text{
    font-weight: 400;
    font-size: 16px;
}

.link-balk-text h4{
    font-size: 1.5rem;
}

.links-programma a{
    text-decoration: none;
}


.links-programma{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.links-programma li{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    flex: 1 1 20%;
}

.dag-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    cursor: pointer;
    background-color: #e83c3c;
}

span:hover .dag{
    cursor: pointer;
    color: white;
}

span:hover{
    cursor: pointer;
    background-color: black;
}

.dag-kort{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
    color: black;
}

.dag-lang{
    font-weight: 400;
    font-size: .8rem;
    color: black;
}

.programma-datum{
    position: relative;
    margin-bottom: 5rem;
}

/*footer*/
.first-footer{
    display: flex;
    justify-content: space-between;
}

.slogan{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.to-footer a{
    text-decoration: none;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    color: black;
    font-weight: 700;
}
.to-footer h2{
    display: inline-flex;
    align-items: center;
    margin-bottom: 1.75rem;
    padding: 1rem 1.5rem;
    background: #e83c3c;
    color: black;
    text-decoration: none;
}
.to-footer h2 svg[id^=arrow-animation-right] {
    position: relative;
    left: 2rem;
}
svg[id^=arrow-animation] {
    width: 7rem;
    height: 1.5rem;
}
.title-content a{
    display: flex;
    align-items: center;
}
.back-photo{
    position: absolute;
    right: 0rem;
    z-index: -1;
}
.to-footer svg[id^=arrow-animation-left]{
    position: relative;
    left: -2rem;
    transform: rotate(-180deg);
}
}

@media only screen and (min-width: 100px){
    .footer-main-text h3 {
            margin-top: 15rem;
            margin-bottom: 1rem;
            text-transform: capitalize;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: #fff;
        }
    
        .footer-main-text p {
            font-size: 1rem;
            line-height: 1.3rem;
            margin-bottom: 2rem;
            font-weight: 400;
            color: white;
        }
    
        .email-bar {
            display: block;
            width: 100%;
            height: 2.8rem;
            padding: 0 0.8rem;
            border: 1px solid transparent;
            font-size: .9rem;
            appearance: none;
            background-color: #ffffff;
            font-weight: 400;
        }
    
        input[type="email"] {
            border-bottom: 2px solid #fff;
            background-color: transparent;
            color: #fff;
        }
    
        .but-ins {
            min-height: 2.5rem;
            margin-top: 1.1rem;
            padding: 0.8rem 1.2rem;
            background-color: #e83c3c;
            font-weight: 600;
            text-align: center;
            cursor: pointer;
            border: none;
        }
    
        .but-ins a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    
        .bottom-text {
            margin-top: 1.2rem;
            color: rgba(255, 255, 255, .7);
            font-size: 1rem;
            line-height: 1.2rem;
        }
    
        .bottom-text strong {
            color: white;
            text-decoration: underline;
        }
    
        .socials {
            display: flex;
            gap: 1rem;
            padding-top: 3rem;
    
        }
    
        .socials img {
            background-color: rgb(255, 255, 255);
            clip-path: circle();
            padding: 0.3rem;
            filter: invert(100%);
        }
    
        .red-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 25rem;
            background: #e83c3c;
            color: #000;
            height: 35rem;
        }
    
        .logo-footer {
            margin-top: 2rem;
            width: 9.8rem;
        }
    
        .slogan {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    

        .line-footer{
            width: 54rem;
            height: 0.1rem;
            margin: 0 1rem 0 1rem ;
            background-color: black;
        }

        .end-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .date {
            font-size: 1.2rem;
        }
    
        .hash {
            font-weight: 700;
            font-size: 3.75rem;
        }
    
        .footer-bg {
            margin-top: -20rem;
        }
    
        .partners-logo {
            display: flex;
            justify-content: space-between;
            max-width: 18rem;
        }
    
        .partners-logo img {
            width: auto;
            height: 2.8rem;
        }
    
        .black-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
            color: rgba(255, 255, 255, .7);
            padding-bottom: 2rem;
        }

        .black-footer p{
            width: 65rem;
        }
    
    
        .cookie {
            cursor: pointer;
            text-decoration: none;
            margin-right: 1rem;
        }
    
        .links-black .privacy:hover {
            text-decoration: underline;
        }
    
        .links-black .cookie:hover {
            text-decoration: underline;
        }
    
        .links-black {
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    
        .black-footer p {
            line-height: 1.6rem;
        }
}
/*Desktop*/

@media only screen and (min-width: 65rem){
    body {
        background-image: url(../img/bg-desktop.png) ;
        background-size: 70rem;
        background-color: black;
        background-position-x:10rem;
        }
    header{
    margin: 0 auto;
    padding: 0 16px;
    }

    .navigation-desktop{
        position: relative;
    }

    .navigation-mobile{
        display: none;
    }

    .button-nav-desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .nav-bar-desktop{
        display: flex;
        align-items: center;
    }

    .arrow-near-prgm img{
        rotate: -90deg;
    }

    .nav-buttons ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
    .header-top{
        position: absolute;
        top:0;
        right: 0;
        width: 32rem;
        height: 7rem;
        padding: 2.5rem 2rem;
        background: #e83c3c;
        display: flex;
        justify-content: flex-end;
    }
    .header-red{
        display: flex;
        align-items: center;
    }

    .header-red a{
        text-decoration: none;

        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .nav-buttons a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
        margin-left: 1rem;
    }

    .logo-white{
        margin-top: 2rem;
        width: 12rem;
    }

    .button-nav-desktop .line-1, .line-2{
        background-color: #000;
    }
    .button-nav-desktop, .search{
        padding: 0 1.1rem;
    }

    .search img{
        width: 1.5rem;
    }

    .container-content{
        position: relative;
    }
    .title-bg{
        position: relative;
        float: right;
        height: 14rem;
        width: 32rem;
        top: -2rem;
    }
    .title-page h1{
        padding-top: 1rem;
        width: 62.9rem;
        height: 6rem;
        font-size: 5rem;
    }
    .mobile-menu{
        display: flex;
        align-items: flex-start;
    }

    .burger-menu.open{
        width: 50%;
    }
    .programma-datum{
        width: 30rem;
    }

    .programma-datum ul.links-programma li{
        flex: 0 1 33.33%;
    }
    .links-programma .day-16{
        margin-right: 2rem;
        flex: 66.66%;
    }

    .links-programma .day-23 {
        margin-left: 10rem;
        flex: 66.66%;
    }

    .header-info{
        z-index: 1;
    }
    .programma-datum{
        position: relative;
        right: 0rem;
        margin-top: 20rem;
    }
    .menu-blocks{
        display: flex;
        position: relative;
        flex-direction: row;
        right: -22rem;
        justify-content: right;
    }
    .link-balk{
        bottom: 35rem;
    }
    .to-footer{
        width: 60rem;
    }
    .title-content a{
        font-size: 2.8rem;
    }
    .back-photo{
        right: -3rem;
    }
    .news-eight{
        color: white;
    }
    .email-field{
        display: flex;
        align-items: flex-end;
    }
    .email-bar{
        width: 25%;
    }
    .button-ins{
        text-transform: capitalize;
        margin-left: 1rem;
        background-color: #e83c3c;
        cursor: pointer;
        transition: 0.4s;
    }
    .button-ins:hover{
        background-color: #fff;
    }
    .button-ins h4{
        padding: 1rem 2rem 1rem 2rem;

    }
    .button-ins h4 a{
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
    }
    .footer-main-text h3{
        font-size: 3.5rem;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }
    .footer-main-text p{
        font-size: 1.3rem;
    }
    .back-photo{
        display: none;
    }
    .news-title{
        position: relative;
        top: 15rem;
        rotate: -90deg;
        width: 2rem;
        margin-left: 15rem;
    }
    .news-inside{
        position: relative;
        top: 2.2rem;
        right: 1.8rem;
    }
    .news-inside h1{
        background-color: #000;
        padding: 0.5rem;
        color: white;
        font-size: 9rem;
        font-weight: 700;
        width: 35rem;
    }
    .new-bg{
        background-color: #e83c3c;
        width: 36rem;
        height: 9rem;
    }
    .news-section{
        display: flex;
        margin-bottom: 20rem;
    }
    .news-grid{
        right: 20rem;
    }
    .news-grid ul{
        display: block;
        list-style: none;
        color: #fff;
    }
    .for-grid ul{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .news-container{
        margin: 0 auto;
        max-width: 1440px;
    }
    .teaser{
        height: 18rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-bottom: 10.4rem;
        border: 1px solid white;
        font-size: 2rem;
    }
    .for-grid ul li{
        cursor: pointer;
    }
    .for-grid ul li:hover{
        color: #000;
        background-color: #e83c3c;
    }
    .teaser:last-child{
        grid-column-start: 1;
        grid-column-end: 3 ;
    }
    .teaser p{
        padding-right: 1rem;
    }
    .image{
        width: 50%;
        left: -20rem;
        background: url(../img/news-image.jpg) center center no-repeat;
        background-size: cover;
    }
    .button-all-news{
        position: relative;
        top: -17rem;
        left: 19.9rem;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid white;
        width: 25rem;
        font-size: 1.2rem;
        padding: 1rem;
    }
    .button-all-news a{
        text-decoration: none;
        color: #fff;
    }
    .button-all-news a:hover{
        color: black;
    }
    .button-all-news:hover{
        background-color: #fff;
    }
    .footer-bg{
    display: flex;
    justify-content:  right;
    }
    .eight{
        display: flex;
        gap: 2rem;
        color: white;
    }
    .container-eight-events{
        margin: 0 auto;
        overflow: auto;
        background: transparent;
        width: 100rem;
    }

    ::-webkit-scrollbar {
    display: none;
    }

    .place-hour{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        font-size: 1rem;
    }
    .card-front{
        position: relative;
        border: 1px solid white;
        background-color: #000;
        padding: 2rem;
        margin-top: -2.5rem;
        margin-right: 3.5rem;
        box-shadow: 0rem 0rem 0rem 0rem #e83c3c;
    }
    .title-eight{
        font-size: 1.6rem;
        font-weight: 700;

    }
    .place-eight, 
    .hour-eight {
        font-weight: 400;
    }
    .jump_card{
        position: fixed;
    }
    .card-front{
        position: relative;
        top: 0rem;
        left: 0rem;
        transition: 0.3s;
    }
    .event-container .card-front:hover{
        top: -1.4rem;
        left: 1.4rem;
        box-shadow: -0.8rem 0.8rem 0rem 0.2rem #e83c3c;
    }
    .image-date{
        width: 30rem;
        height: auto;
    }

    .image-date img{
        width: 100%;
        height:80%;
        border: 1px solid white;
        object-fit: cover;
    }
    .place-eight{
        color: #000;
        background-color: #e83c3c;
        padding: 0.5rem;
        margin-right: 1rem;
    }
    .date-event{
        position: relative;
        text-align: center;
        top: 4.5rem;
        left: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        background-color: #000;
        padding: 1rem;
        width: 10rem;
    }
    .arrow-events{
        width: 8rem;
    }
    .buttons-scroll{
        display: flex;
        justify-content: right;
        margin-right: 2rem;
        margin-top: 20rem;
    }
    #arrow-go{
        transform: rotate(-180deg);
    }
    .first-eight{
        max-width: 1440px;
        margin: 0 auto;
    }
    .eight{
        margin-bottom: 15rem;
    }
    button{
        background-color: transparent;
    }

}

.events {
  display: flex;
  overflow-x: scroll;
  gap: 1.25rem;
  margin-top: 8.75rem;
}

.div-event {
  width: 15.62rem;
}

@media (min-width: 48rem) {
  .events {
    margin-top: 0rem;
  }

  .div-event {
    width: 31.25rem;
  }
}

@media (min-width: 80rem) {
  .events {
    margin-left: 9.37rem;
    margin-top: 6.25rem;
  }
}

::-webkit-scrollbar {
  height: .31rem;
  width: .62rem;
  border-radius: .312rem;
}

.event-card {
  position: relative;
  margin-bottom: 5.68rem;
  color: hsl(0, 0%, 100%);
}

.event-date {
  position: relative;
  text-transform: uppercase;
  border: .06rem solid hsl(0, 0%, 100%);
}

.event-date p {
  position: absolute;
  background-color: hsl(0, 0%, 0%);
  margin: .62rem;
  padding: .31rem .62rem;
}

.event-img {
  aspect-ratio: 2/1;
  object-fit: cover;
}

.event-img img {
  width: 100%;
}

.event-info {
  position: absolute;
  bottom: -5.62rem;
  background-color: hsl(0, 0%, 0%);
  border: .06rem solid hsl(0, 0%, 100%);
  padding: 1.25rem;
  width: 90%;
  transition: 0.2s ease-in;
}

@media (min-width: 48rem) {
  .event-info {
    bottom: -3.43rem;
    width: 90%;
  }
}

a :hover .event-info {
  box-shadow: -1rem 1rem 0rem 0rem hsl(0, 79%, 57%);
  margin: 0rem 0rem 1.56rem 1.56rem;
}

.event-title {
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.event-location {
  display: flex;
  flex-wrap: wrap;
}

.event-location span{
  background-color: hsl(0, 79%, 57%);
  color: hsl(0, 0%, 0%);
  padding: .31rem .62rem;
  margin-right: .62rem;
}

/* news */ 

.section-news {
  margin-top: 4.37rem;
  margin-bottom: 10rem;
}

@media (min-width: 48rem) {
  .section-news {
    display: flex;
  }
}

.div-rotated-title {
  background-color: hsl(0, 79%, 57%);
  padding: 2rem 1.37rem 1.37rem 0rem;
  height: 6.25rem;
  width: 16.25rem;
  margin-top: 3.12rem;
}

.rotated-title h2 {
  background-color: hsl(0, 0%, 0%);
  font-size: 3.75rem;
}

@media (min-width: 48rem) {
  .rotated-title h2 {
    font-size: 6.25rem;
  }

  .div-rotated-title {
    margin-top: 9rem;
    margin-left: -9.37rem;
    rotate: 270deg;
    width: 24.81rem;
  }
}

@media (min-width: 80rem) {
  

  .rotated-title h2{
    font-size: 7.5rem;
  }

  .div-rotated-title {
    margin-top: 11.87rem;
    margin-left: -9.37rem;
    width: 29.5rem;
  }
}

.article-news {
  width: 100%;
  margin-top: 3.12rem;
  margin-bottom: 4.37rem;
}

@media (min-width: 48rem) {
  .article-news {
    margin-top: 0rem;
  }
}

@media (min-width: 80rem) {
  .article-news {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 48rem) {
  .news-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 15.62rem;
  }
}

@media (min-width: 80rem) {
  .news-index {
    width: 60%;
  }
}

.news-title-index {
  padding: 1.25rem .93rem 2.18rem .93rem;
  font-size: 1.12rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: .0625rem solid hsl(0, 0%, 100%);
  transition: 0.2s ease-in;
}

.news-title-index:hover {
  background-color: hsl(0, 79%, 57%);
}

.news-title-index:hover .arrow-right {
  display: none;
}

.news-title-index p {
  margin-bottom: 3.12rem;
  transition: 0.2s ease-in;
}

.news-title-index:hover p {
  color: hsl(0, 0%, 0%);
}

@media (min-width: 48rem) {
  .news-title-index:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .news-title-index p {
    font-size: 1.5rem;
  }

  .twitterfeed img {
    aspect-ratio: 2/1;
    height: 15.62rem;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 80rem) {
  .twitterfeed {
    width: 40%;
  }

  .twitterfeed img {
    height: 100%;
  }
}

.btn-all-news {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 1.12rem;
  border: .06rem solid hsl(0, 0%, 100%);
  padding: 1.25rem;
  transition: 0.2s ease-in;
}

.btn-all-news:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}





